.mainConatiner {
//   background-color: red;
//   max-height: 100%;
//   .heading {
//     color: black;
//   }

  .buttonContainer {
    display: flex;
    justify-content: space-around;
    gap: 60px; 
  }
}
